/br.com.sitemusica/nbproject/private/
/br.com.sitemusica/br.com.sitemusica-war/nbproject/private/
/br.com.sitemusica/br.com.sitemusica-ejb/nbproject/private/
/br.com.sitemusica/br.com.sitemusica-ejb/build/